In [1]:
import pandas as pd
import re

In [12]:
chapters = [
    ("00:01:00", "English Phrases for Virtual Meetings"),
    ("00:08:23", "100 English Phrases for Sales"),
    ("00:26:34", "Interview Skills in English"),
    ("00:38:55", "How to Speak in Business English"),
    ("01:06:57", "100 English Phrases for Customer Service"),
    ("01:34:55", "100 English Phrases for Call Center"),
    ("02:02:36", "Business English Vocabulary"),
    ("02:32:44", "Business English Idioms"),
    ("02:35:23", "Profession Types in English"),
    ("02:42:28", "Crime in English"),
    ("03:17:54", "Types of Industry"),
    ("03:27:14", "Federal Holidays"),
    ("03:36:10", "AI Terminology in English"),
    ("03:39:26", "Home Office"),
    ("03:43:07", "Money Vocabulary"),
    ("03:49:23", "Banking Vocabulary"),
    ("03:54:07", "Credit Card Vocabulary"),
    ("04:09:41", "Types of Insurance"),
    ("04:14:10", "Renting in English"),
    ("04:18:25", "Investment Terms"),
    ("04:24:40", "Economics in English"),
    ("04:29:24", "Stock Market Vocabulary"),
    ("04:36:43", "Real Estate Terms"),
    ("04:43:14", "Mortgages in English"),
    ("04:49:58", "Buying a Car in English"),
    ("04:59:37", "Intermediate Banking Terms"),
]

In [14]:
# Function to add leading zeroes to the Start Time
def format_time(time_str):
    # If the time is in MM:SS format, add '00:' to it to convert it into HH:MM:SS format
    if len(time_str) == 5:  # MM:SS format
        return '00:' + time_str
    return time_str  # Already in HH:MM:SS format

# Apply the function to format Start Time correctly
chapters = [(format_time(start_time), title) for start_time, title in chapters]

In [18]:
# Convert to DataFrame
df = pd.DataFrame(chapters, columns=["Start Time", "Title"])

df.head()

  Start Time                                     Title
0   00:01:00      English Phrases for Virtual Meetings
1   00:08:23             100 English Phrases for Sales
2   00:26:34               Interview Skills in English
3   00:38:55          How to Speak in Business English
4   01:06:57  100 English Phrases for Customer Service

In [20]:
def sanitize_filename(filename):
    # Remove invalid characters for Windows file systems
    return re.sub(r'[<>:"/\\|?*]', '', filename)

In [22]:
df.Title = df.Title.apply(sanitize_filename)

In [24]:
time_video_ends = input('Enter the time when the video ends (e.g, 00:00:00): ')

Enter the time when the video ends (e.g, 00:00:00):  05:10:45

In [26]:
# Add End Time column
df["End Time"] = df["Start Time"].shift(-1, fill_value=time_video_ends)  # Assume video ends at 10:59:42
df.tail()

   Start Time                       Title  End Time
21   04:29:24     Stock Market Vocabulary  04:36:43
22   04:36:43           Real Estate Terms  04:43:14
23   04:43:14        Mortgages in English  04:49:58
24   04:49:58     Buying a Car in English  04:59:37
25   04:59:37  Intermediate Banking Terms  05:10:45

In [28]:
# Save to Excel
output_file = "Chapters.xlsx"
df.to_excel(output_file, index=False)

print(f"Chapters saved to {output_file}")

Chapters saved to Chapters.xlsx