In [17]:
import pandas as pd
import re

In [18]:
# Chapters data
chapters = [
    ("0:00:00", "Welcome"),
    ("0:03:53", "What is Excel?"),
    ("0:07:19", "About Course"),
    ("0:11:19", "Excel Install"),
    ("0:22:42", "Worksheets"),
    ("0:39:15", "Workbooks"),
    ("0:52:06", "Ribbon"),
    ("1:06:39", "Formulas Intro"),
    ("1:18:08", "Function Intro"),
    ("1:29:14", "Logical Functions"),
    ("1:39:54", "Math Functions"),
    ("1:49:46", "Statistical Functions"),
    ("2:01:14", "Array Formulas"),
    ("2:21:28", "Lookup Function"),
    ("2:39:25", "Text Functions"),
    ("2:53:19", "Date and Time Functions"),
    ("3:01:33", "Charts Intro"),
    ("3:22:05", "Charts Advanced"),
    ("3:35:37", "Charts Statistics"),
    ("3:47:59", "Sparklines"),
    ("3:51:57", "Tables"),
    ("4:09:28", "Formatting"),
    ("4:26:00", "Collaboration"),
    ("4:40:30", "Project #1: Build Dashboard"),
    ("5:26:43", "Project #1: Share Projects"),
    ("5:33:46", "PivotTable Intro"),
    ("5:54:53", "PivotTable Advanced"),
    ("6:09:33", "PivotCharts"),
    ("6:19:43", "Analysis Add-ins"),
    ("6:39:00", "Data Tables"),
    ("6:48:06", "Analysis ToolPak"),
    ("7:03:04", "Power Query Intro"),
    ("7:23:26", "Power Query Editor"),
    ("7:53:13", "Advanced Transformations"),
    ("8:14:58", "Append vs Merge"),
    ("8:39:13", "M Language"),
    ("9:03:11", "Power Pivot Intro"),
    ("9:29:01", "Power Pivot Window"),
    ("9:48:18", "DAX Intro"),
    ("10:09:34", "DAX Advanced"),
    ("10:27:40", "Project #2: Share w/ Git & GitHub"),
    ("10:45:13", "Project #2: Document w/ README.md"),
]

In [19]:
# Function to add leading zeroes to the Start Time
def format_time(time_str):
    # If the time is in MM:SS format, add '00:' to it to convert it into HH:MM:SS format
    if len(time_str) == 5:  # MM:SS format
        return '00:' + time_str
    return time_str  # Already in HH:MM:SS format

# Apply the function to format Start Time correctly
chapters = [(format_time(start_time), title) for start_time, title in chapters]

In [20]:
# Convert to DataFrame
df = pd.DataFrame(chapters, columns=["Start Time", "Title"])

df.head()

  Start Time           Title
0    0:00:00         Welcome
1    0:03:53  What is Excel?
2    0:07:19    About Course
3    0:11:19   Excel Install
4    0:22:42      Worksheets

In [21]:
def sanitize_filename(filename):
    # Remove invalid characters for Windows file systems
    return re.sub(r'[<>:"/\\|?*]', '', filename)

In [22]:
df.Title = df.Title.apply(sanitize_filename)

In [23]:
time_video_ends = input('Enter the time when the video ends (e.g, 00:00:00): ')

Enter the time when the video ends (e.g, 00:00:00):  10:59:42

In [24]:
# Add End Time column
df["End Time"] = df["Start Time"].shift(-1, fill_value=time_video_ends)  # Assume video ends at 10:59:42
df.tail()

   Start Time                            Title  End Time
37    9:29:01               Power Pivot Window   9:48:18
38    9:48:18                        DAX Intro  10:09:34
39   10:09:34                     DAX Advanced  10:27:40
40   10:27:40  Project #2 Share w Git & GitHub  10:45:13
41   10:45:13  Project #2 Document w README.md  10:59:42

In [25]:
# Save to Excel
output_file = "Chapters.xlsx"
df.to_excel(output_file, index=False)

print(f"Chapters saved to {output_file}")

Chapters saved to Chapters.xlsx